<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>615823868836-ivp1ii48ps1d7ujd9lad4064r6ipvj1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615823868836-ivp1ii48ps1d7ujd9lad4064r6ipvj1v</string>
	<key>API_KEY</key>
	<string>AIzaSyBHhn9LLTzG72ObcaMxdoe2kpR6_2gem7o</string>
	<key>GCM_SENDER_ID</key>
	<string>615823868836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanvo.AppStore</string>
	<key>PROJECT_ID</key>
	<string>appstore-e4a8e</string>
	<key>STORAGE_BUCKET</key>
	<string>appstore-e4a8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615823868836:ios:dbd834ef01f00f06</string>
	<key>DATABASE_URL</key>
	<string>https://appstore-e4a8e.firebaseio.com</string>
</dict>
</plist>